In [1]:
import os
import pandas as pd
from datetime import datetime

In [2]:
path="Daily Files Not Duplicated/9th week 21 Nov -27 Nov"

In [3]:
dir_list = os.listdir(path)
dir_list

['Linkedin_Job_Links_23-Nov-2023_649-jobs_28-pages.csv',
 'Linkedin_Job_Links_26-Nov-2023_699-jobs_29-pages.csv']

In [4]:
len(dir_list)

2

In [5]:
dates=[file.split('_')[3] for file in dir_list]
dates.sort(key=lambda date: datetime.strptime(date, "%d-%b-%Y"))
file_names=[]
for date in dates:
    for file in dir_list:
        if file.split('_')[3]==date:
            file_names.append(file)
file_names

['Linkedin_Job_Links_23-Nov-2023_649-jobs_28-pages.csv',
 'Linkedin_Job_Links_26-Nov-2023_699-jobs_29-pages.csv']

In [6]:
df_concat=None
for file in file_names:
    df=pd.read_csv(path+'/'+file)
    df_concat=pd.concat([df_concat,df],ignore_index=True)

In [7]:
df_concat

,Job Title,Job ID,Job Link
0,Penetration Tester,3766647620,https://www.linkedin.com/jobs/view/3766647620/...
1,Lead Generator / Business Development Executive,3766002179,https://www.linkedin.com/jobs/view/3766002179/...
2,CONCEPTEUR FORMATION H/F,3730481772,https://www.linkedin.com/jobs/view/3730481772/...
3,Senior Database Administrator,3749325617,https://www.linkedin.com/jobs/view/3749325617/...
4,Web Development Intern,3767386725,https://www.linkedin.com/jobs/view/3767386725/...
...,...,...,...
1343,NaN,3767355025,NaN
1344,NaN,3766809535,NaN
1345,Information Security Specialist,3772530977,https://www.linkedin.com/jobs/view/3772530977/...
1346,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,3771943212,https://www.linkedin.com/jobs/view/3771943212/...
1347,Community Associate,3767944844,https://www.linkedin.com/jobs/view/3767944844/...

In [8]:
total_pages=0
for file in file_names:
    total_pages=total_pages+int(file.split('_')[5].strip('-pages.csv'))
total_pages

57

In [9]:
total_records=0
for file in file_names:
    total_records=total_records+int(file.split('_')[4].strip('-jobs'))
total_records

1348

In [10]:
len(df_concat)

1348

In [11]:
folder_path='Weekly Files Concatenated from Daily Files/'
folder_path

'Weekly Files Concatenated from Daily Files/'

In [12]:
path.split('/')[1].split('week ')[1].split()

['21', 'Nov', '-27', 'Nov']

In [13]:
week=path.split('/')[1].split('week ')[1].split()[0]+'-'+path.split('/')[1].split('week ')[1].split()[1]+'-2023-to'+path.split('/')[1].split('week ')[1].split()[2]+'-'+path.split('/')[1].split('week ')[1].split()[3]+'-2023'
# week='17-Oct-2023-to-23-Oct-2023'
week

'21-Nov-2023-to-27-Nov-2023'

In [14]:
df_concat.to_csv(folder_path+f'Linkedin_Job_Links_{week}_{len(df_concat)}-jobs_{total_pages}-pages.csv',index=False)