In [1]:
import pandas as pd
import numpy as np

In [2]:
path='Concatenated files/10th week 28 Nov -30 Nov/Linkedin_Job_Links_30-Nov-2023_780-jobs_33-pages.csv'

In [3]:
df=pd.read_csv(path)

In [4]:
df

,Job Title,Job ID,Job Link
0,Business Development Executive,3774715438,https://www.linkedin.com/jobs/view/3774715438/...
1,Business Development Executive,3773322698,https://www.linkedin.com/jobs/view/3773322698/...
2,Business Development Specialist,3766957851,https://www.linkedin.com/jobs/view/3766957851/...
3,Product Hunting Expert,3768210182,https://www.linkedin.com/jobs/view/3768210182/...
4,Remote Work - (Data Entry Clerk) Work From Home,3772950502,https://www.linkedin.com/jobs/view/3772950502/...
...,...,...,...
775,Associate Merchandise Planner,3772813087,https://www.linkedin.com/jobs/view/3772813087/...
776,Odoo Developer,3774389606,https://www.linkedin.com/jobs/view/3774389606/...
777,Bidder,3774752337,https://www.linkedin.com/jobs/view/3774752337/...
778,Customer Success Specialist,3714477401,https://www.linkedin.com/jobs/view/3714477401/...
779,Purchasing Officer,3775326075,https://www.linkedin.com/jobs/view/3775326075/...

### checking duplicates

In [5]:
len(df)

780

In [6]:
len(df['Job ID'].unique())

747

In [7]:
df['Job ID'].value_counts()

Job ID
3767586492    2
3774463288    2
3774374938    2
3771438992    2
3769253548    2
             ..
3773347358    1
3768549662    1
3757159375    1
3769067602    1
3775326075    1
Name: count, Length: 747, dtype: int64

In [8]:
df['Job ID'].value_counts().unique()

array([2, 1], dtype=int64)

In [9]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

33

In [10]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job ID,Job Link
625,Business Development Manager,3768519442,https://www.linkedin.com/jobs/view/3768519442/...
626,Customer Support Specialist ( US ),3764394146,https://www.linkedin.com/jobs/view/3764394146/...
627,Team lead Manufacturing,3771438992,https://www.linkedin.com/jobs/view/3771438992/...
628,Manager Corporate Communications,3769233471,https://www.linkedin.com/jobs/view/3769233471/...
629,"Vice President Finance, Trilogy (Remote) - $20...",3772906037,https://www.linkedin.com/jobs/view/3772906037/...
631,Manager Cloud ISA,3756986762,https://www.linkedin.com/jobs/view/3756986762/...
633,Senior Functional Consultant (Microsoft Dynami...,3774446886,https://www.linkedin.com/jobs/view/3774446886/...
634,Regional Admissions Officer (Lahore),3774463288,https://www.linkedin.com/jobs/view/3774463288/...
636,Content Marketer,3767586492,https://www.linkedin.com/jobs/view/3767586492/...
638,NaN,3738512971,NaN
644,"Technical Product Owner, Trilogy (Remote) - $1...",3772904568,https://www.linkedin.com/jobs/view/3772904568/...
649,"Fellow of GenAI Software Excellence, Trilogy (...",3772903435,https://www.linkedin.com/jobs/view/3772903435/...
654,Executive Ocean Freight,3776035739,https://www.linkedin.com/jobs/view/3776035739/...
655,Supervisor Biochemistry,3766940908,https://www.linkedin.com/jobs/view/3766940908/...
656,Associate- Project Sales,3774393379,https://www.linkedin.com/jobs/view/3774393379/...
675,Software Engineer,3773310000,https://www.linkedin.com/jobs/view/3773310000/...
676,Scriptwriter,3774373232,https://www.linkedin.com/jobs/view/3774373232/...
677,HR / Admin Executive,3774374938,https://www.linkedin.com/jobs/view/3774374938/...
678,Senior MERN Stack Developer,3769253548,https://www.linkedin.com/jobs/view/3769253548/...
680,Demand Planner,3765188178,https://www.linkedin.com/jobs/view/3765188178/...
681,Senior Software Quality Assurance (Test Automa...,3607485641,https://www.linkedin.com/jobs/view/3607485641/...
682,Software Developer - Java,3736513624,https://www.linkedin.com/jobs/view/3736513624/...
683,Account Executive - Outbound (SMB),3741633554,https://www.linkedin.com/jobs/view/3741633554/...
684,Software Engineer,3755039643,https://www.linkedin.com/jobs/view/3755039643/...
687,Proposal Engineer for Medium and Low Voltage S...,3748815116,https://www.linkedin.com/jobs/view/3748815116/...
688,Valuation Manager,3775320139,https://www.linkedin.com/jobs/view/3775320139/...
690,"Vice President Finance, Trilogy (Remote) - $20...",3772699787,https://www.linkedin.com/jobs/view/3772699787/...
696,"Senior Developer, Trilogy (Remote) - $100,000/...",3772905289,https://www.linkedin.com/jobs/view/3772905289/...
697,"Principal Architect, Trilogy (Remote) - $200,0...",3772699847,https://www.linkedin.com/jobs/view/3772699847/...
702,Sales Marketing Executive,3772488125,https://www.linkedin.com/jobs/view/3772488125/...
708,Shopify Developer,3773350751,https://www.linkedin.com/jobs/view/3773350751/...
709,"Commercial Sales Manager - Karachi, Pakistan.",3773710446,https://www.linkedin.com/jobs/view/3773710446/...
758,Sales And Marketing Specialist,3775320221,https://www.linkedin.com/jobs/view/3775320221/...

### droping duplicates

In [11]:
df_no_duplicates = df.drop_duplicates(subset=['Job ID'])

In [12]:
df_no_duplicates

,Job Title,Job ID,Job Link
0,Business Development Executive,3774715438,https://www.linkedin.com/jobs/view/3774715438/...
1,Business Development Executive,3773322698,https://www.linkedin.com/jobs/view/3773322698/...
2,Business Development Specialist,3766957851,https://www.linkedin.com/jobs/view/3766957851/...
3,Product Hunting Expert,3768210182,https://www.linkedin.com/jobs/view/3768210182/...
4,Remote Work - (Data Entry Clerk) Work From Home,3772950502,https://www.linkedin.com/jobs/view/3772950502/...
...,...,...,...
775,Associate Merchandise Planner,3772813087,https://www.linkedin.com/jobs/view/3772813087/...
776,Odoo Developer,3774389606,https://www.linkedin.com/jobs/view/3774389606/...
777,Bidder,3774752337,https://www.linkedin.com/jobs/view/3774752337/...
778,Customer Success Specialist,3714477401,https://www.linkedin.com/jobs/view/3714477401/...
779,Purchasing Officer,3775326075,https://www.linkedin.com/jobs/view/3775326075/...

In [13]:
len(df_no_duplicates)

747

In [14]:
len(df)-duplicates_count

747

### Building modified path

In [15]:
pre_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[0]
post_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[1]
Not_duplicated_folder_path='Daily Files Not Duplicated/'+path.split('/')[1]+'/'+pre_link+str(len(df_no_duplicates))+post_link
Not_duplicated_folder_path

'Daily Files Not Duplicated/10th week 28 Nov -30 Nov/Linkedin_Job_Links_30-Nov-2023_747-jobs_33-pages.csv'

### saving file

In [16]:
if df.duplicated(subset=['Job ID']).sum()>0:
    df_no_duplicates.to_csv(Not_duplicated_folder_path,index=False)
else:
    df.to_csv('Daily Files Not Duplicated/'+path.split('/')[1]+'/'+path.split('/')[-1],index=False)