In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
path='Weekly Files Concatenated from Daily Files/Linkedin_Job_Links_21-Nov-2023-to-27-Nov-2023_1348-jobs_57-pages.csv'

In [3]:
df=pd.read_csv(path)

### checking duplicates

In [4]:
len(df)

1348

In [5]:
len(df['Job ID'].unique())

1036

In [6]:
len(df)-len(df['Job ID'].unique())

312

In [7]:
df['Job ID'].value_counts()

Job ID
3706050823    2
3766026276    2
3766605607    2
3766609644    2
3770550589    2
             ..
3766811033    1
3767850687    1
3767395072    1
3759599648    1
3767944844    1
Name: count, Length: 1036, dtype: int64

In [8]:
df['Job ID'].value_counts().unique()

array([2, 1], dtype=int64)

In [9]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

312

In [10]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job ID,Job Link
656,Mindshare | Media Planner - Digital,3765422803,https://www.linkedin.com/jobs/view/3765422803/...
658,Associate PMO Analyst,3766046555,https://www.linkedin.com/jobs/view/3766046555/...
660,CONCEPTEUR FORMATION H/F,3730481772,https://www.linkedin.com/jobs/view/3730481772/...
662,Golang Engineer,3766613285,https://www.linkedin.com/jobs/view/3766613285/...
663,Senior Manager - Technical Accounting,3770554409,https://www.linkedin.com/jobs/view/3770554409/...
...,...,...,...
1329,Assistant Manager Talent Acquisition,3765449305,https://www.linkedin.com/jobs/view/3765449305/...
1330,Software Engineer,3765793064,https://www.linkedin.com/jobs/view/3765793064/...
1331,Web Backend Developer,3765780780,https://www.linkedin.com/jobs/view/3765780780/...
1333,Investment Advisor,3766397564,https://www.linkedin.com/jobs/view/3766397564/...
1344,NaN,3766809535,NaN

### droping duplicates

In [11]:
df_no_duplicates = df.drop_duplicates(subset=['Job ID'])

In [12]:
df_no_duplicates

,Job Title,Job ID,Job Link
0,Penetration Tester,3766647620,https://www.linkedin.com/jobs/view/3766647620/...
1,Lead Generator / Business Development Executive,3766002179,https://www.linkedin.com/jobs/view/3766002179/...
2,CONCEPTEUR FORMATION H/F,3730481772,https://www.linkedin.com/jobs/view/3730481772/...
3,Senior Database Administrator,3749325617,https://www.linkedin.com/jobs/view/3749325617/...
4,Web Development Intern,3767386725,https://www.linkedin.com/jobs/view/3767386725/...
...,...,...,...
1342,NaN,3767951886,NaN
1343,NaN,3767355025,NaN
1345,Information Security Specialist,3772530977,https://www.linkedin.com/jobs/view/3772530977/...
1346,FUNCTIONAL CONSULTANT ORACLE FUSION - HCM,3771943212,https://www.linkedin.com/jobs/view/3771943212/...
1347,Community Associate,3767944844,https://www.linkedin.com/jobs/view/3767944844/...

In [13]:
len(df_no_duplicates)

1036

In [14]:
len(df)-duplicates_count

1036

### Building modified path

In [15]:
pre_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[0]
post_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[1]
Not_duplicated_folder_path='Weekly Files Not Duplicated/'+pre_link+str(len(df_no_duplicates))+post_link
Not_duplicated_folder_path

'Weekly Files Not Duplicated/Linkedin_Job_Links_21-Nov-2023-to-27-Nov-2023_1036-jobs_57-pages.csv'

### saving file

In [16]:
if df.duplicated(subset=['Job ID']).sum()>0:
    df_no_duplicates.to_csv(Not_duplicated_folder_path,index=False)
else:
    df.to_csv(Not_duplicated_folder_path,index=False)