In [21]:
import os
import pandas as pd

In [22]:
path='Concatenated files/1st Week 26 Sep-02 Oct/Linkedin_Job_Links_27-Sep-2023_430-jobs_18-pages.csv'

In [23]:
df=pd.read_csv(path)

In [4]:
df

,Job Title,Job Link
0,LinkedIn Data Extractor,https://www.linkedin.com/jobs/view/3727054368/...
1,It Management Intern,https://www.linkedin.com/jobs/view/3723395858/...
2,SQL Database Developer,https://www.linkedin.com/jobs/view/3727034665/...
3,Business Intelligence Developer,https://www.linkedin.com/jobs/view/3727029273/...
4,Web Developer - Internship,https://www.linkedin.com/jobs/view/3727034696/...
...,...,...
556,Sr. React Native developer,https://www.linkedin.com/jobs/view/3728033193/...
557,2D Animator,https://www.linkedin.com/jobs/view/3728149502/...
558,Interior Designer,https://www.linkedin.com/jobs/view/3727041322/...
559,Sr. Angular Developer,https://www.linkedin.com/jobs/view/3727030301/...
560,Senior Angular Developer,https://www.linkedin.com/jobs/view/3727031145/...

In [24]:
df['Job ID']=df['Job Link'].apply(lambda x:int(x.split('/')[5]))

In [25]:
df

,Job Title,Job Link,Job ID
0,Data Annotator,https://www.linkedin.com/jobs/view/3727535445/...,3727535445
1,PowerBi Data Analyst,https://www.linkedin.com/jobs/view/3725544721/...,3725544721
2,Analyst - EMEA,https://www.linkedin.com/jobs/view/3697131076/...,3697131076
3,Email Copywriter/Strategist,https://www.linkedin.com/jobs/view/3723056673/...,3723056673
4,Fresh Telecom Intern,https://www.linkedin.com/jobs/view/3727538999/...,3727538999
...,...,...,...
425,Senior Dotnet Developer,https://www.linkedin.com/jobs/view/3727398144/...,3727398144
426,Senior MEAN/MERN Developer,https://www.linkedin.com/jobs/view/3727507538/...,3727507538
427,Senior 3D Artist,https://www.linkedin.com/jobs/view/3727502311/...,3727502311
428,Cardiac Catheterization Laboratory Technologist,https://www.linkedin.com/jobs/view/3727372921/...,3727372921
429,Sr. Storyboard Artist,https://www.linkedin.com/jobs/view/3727544393/...,3727544393

In [26]:
df['Job ID'][0]

3727535445

In [27]:
df.to_csv(path,index=False)