In [8]:
import pandas as pd
import numpy as np

In [9]:
path='Concatenated files/1st Week 26 Sep-02 Oct/Linkedin_Job_Links_27-Sep-2023_430-jobs_18-pages.csv'

In [10]:
df=pd.read_csv(path)

In [11]:
df

,Job Title,Job Link,Job ID
0,Data Annotator,https://www.linkedin.com/jobs/view/3727535445/...,3727535445
1,PowerBi Data Analyst,https://www.linkedin.com/jobs/view/3725544721/...,3725544721
2,Analyst - EMEA,https://www.linkedin.com/jobs/view/3697131076/...,3697131076
3,Email Copywriter/Strategist,https://www.linkedin.com/jobs/view/3723056673/...,3723056673
4,Fresh Telecom Intern,https://www.linkedin.com/jobs/view/3727538999/...,3727538999
...,...,...,...
425,Senior Dotnet Developer,https://www.linkedin.com/jobs/view/3727398144/...,3727398144
426,Senior MEAN/MERN Developer,https://www.linkedin.com/jobs/view/3727507538/...,3727507538
427,Senior 3D Artist,https://www.linkedin.com/jobs/view/3727502311/...,3727502311
428,Cardiac Catheterization Laboratory Technologist,https://www.linkedin.com/jobs/view/3727372921/...,3727372921
429,Sr. Storyboard Artist,https://www.linkedin.com/jobs/view/3727544393/...,3727544393

In [13]:
len(df)

430

In [12]:
len(df['Job ID'].unique())

352

In [15]:
df.isnull().sum()

Job Title    3
Job Link     0
Job ID       0
dtype: int64

In [24]:
df['Job ID'].value_counts()

Job ID
3727542561    4
3727399468    4
3727531252    4
3726896682    4
3727369752    4
             ..
3727521979    1
3727367883    1
3630755338    1
3727396138    1
3727544393    1
Name: count, Length: 352, dtype: int64

In [34]:
df['Job ID'].value_counts().unique()

array([4, 1], dtype=int64)

In [26]:
df['Job ID'].value_counts()[:50]

Job ID
3727542561    4
3727399468    4
3727531252    4
3726896682    4
3727369752    4
3727505861    4
3727538965    4
3727394723    4
3727508822    4
3727370414    4
3727539497    4
3727370416    4
3693921215    4
3727520777    4
3727518653    4
3726680162    4
3727366938    4
3727507551    4
3727529651    4
3726334631    4
3727540146    4
3727395196    4
3727370490    4
3727543480    4
3727068586    4
3727511782    4
3728605671    1
3728790371    1
3727557655    1
3728786703    1
3727544104    1
3727534873    1
3727370435    1
3723298344    1
3727520388    1
3727518619    1
3727536315    1
3727547219    1
3727064967    1
3727508902    1
3727319068    1
3727539678    1
3727066470    1
3727512115    1
3727555018    1
3679509233    1
3727374000    1
3727506590    1
3727543091    1
3728613178    1
Name: count, dtype: int64

In [50]:
df['Job ID'].value_counts()==4

Job ID
3727542561     True
3727399468     True
3727531252     True
3726896682     True
3727369752     True
              ...
3727521979    False
3727367883    False
3630755338    False
3727396138    False
3727544393    False
Name: count, Length: 352, dtype: bool

In [33]:
df['Job ID'].value_counts().value_counts()

count
1    326
4     26
Name: count, dtype: int64

In [53]:
df['Job ID'].value_counts()[3727542561]

4

In [54]:
Duplicated_Ids=[]
for id in df['Job ID'].unique():
    if df['Job ID'].value_counts()[id]==4:
        Duplicated_Ids.append(id)

In [74]:
df[df['Job ID']==3727542561]

,Job Title,Job Link,Job ID
305,Senior Sales Account Manager,https://www.linkedin.com/jobs/view/3727542561/...,3727542561
330,Senior Sales Account Manager,https://www.linkedin.com/jobs/view/3727542561/...,3727542561
355,Senior Sales Account Manager,https://www.linkedin.com/jobs/view/3727542561/...,3727542561
380,Senior Sales Account Manager,https://www.linkedin.com/jobs/view/3727542561/...,3727542561

In [77]:
df_duplicated=df[df['Job ID'].isin(Duplicated_Ids)]
df_duplicated

,Job Title,Job Link,Job ID
214,Linkedin Marketing Specialist,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
215,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
216,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
217,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
298,Hybrid QA for financial software,https://www.linkedin.com/jobs/view/3727543480/...,3727543480
...,...,...,...
393,"Principal Engineer, Trilogy (Remote) - $100,00...",https://www.linkedin.com/jobs/view/3727369752/...,3727369752
394,NetSuite Functional Consultant,https://www.linkedin.com/jobs/view/3726896682/...,3726896682
395,React Native Developer,https://www.linkedin.com/jobs/view/3727531252/...,3727531252
396,Sales Manager,https://www.linkedin.com/jobs/view/3727068586/...,3727068586
397,Technical Lead,https://www.linkedin.com/jobs/view/3727520777/...,3727520777

In [78]:
len(df_duplicated)

104

In [86]:
duplicates = df.duplicated()
df[duplicates]

,Job Title,Job Link,Job ID
216,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
217,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
323,Hybrid QA for financial software,https://www.linkedin.com/jobs/view/3727543480/...,3727543480
324,"Software Engineer with AI Tooling Expertise, S...",https://www.linkedin.com/jobs/view/3727370490/...,3727370490
325,Sales Agent or Truck Dispatcher US Based Call ...,https://www.linkedin.com/jobs/view/3727395196/...,3727395196
...,...,...,...
393,"Principal Engineer, Trilogy (Remote) - $100,00...",https://www.linkedin.com/jobs/view/3727369752/...,3727369752
394,NetSuite Functional Consultant,https://www.linkedin.com/jobs/view/3726896682/...,3726896682
395,React Native Developer,https://www.linkedin.com/jobs/view/3727531252/...,3727531252
396,Sales Manager,https://www.linkedin.com/jobs/view/3727068586/...,3727068586
397,Technical Lead,https://www.linkedin.com/jobs/view/3727520777/...,3727520777

In [87]:
len(df[duplicates])

77

In [90]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Link,Job ID
215,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
216,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
217,NaN,https://www.linkedin.com/jobs/view/3727511782/...,3727511782
323,Hybrid QA for financial software,https://www.linkedin.com/jobs/view/3727543480/...,3727543480
324,"Software Engineer with AI Tooling Expertise, S...",https://www.linkedin.com/jobs/view/3727370490/...,3727370490
...,...,...,...
393,"Principal Engineer, Trilogy (Remote) - $100,00...",https://www.linkedin.com/jobs/view/3727369752/...,3727369752
394,NetSuite Functional Consultant,https://www.linkedin.com/jobs/view/3726896682/...,3726896682
395,React Native Developer,https://www.linkedin.com/jobs/view/3727531252/...,3727531252
396,Sales Manager,https://www.linkedin.com/jobs/view/3727068586/...,3727068586
397,Technical Lead,https://www.linkedin.com/jobs/view/3727520777/...,3727520777

In [91]:
len(df[duplicates])

78

In [93]:
104-26

78

In [94]:
df_no_duplicates = df.drop_duplicates()
df_no_duplicates

,Job Title,Job Link,Job ID
0,Data Annotator,https://www.linkedin.com/jobs/view/3727535445/...,3727535445
1,PowerBi Data Analyst,https://www.linkedin.com/jobs/view/3725544721/...,3725544721
2,Analyst - EMEA,https://www.linkedin.com/jobs/view/3697131076/...,3697131076
3,Email Copywriter/Strategist,https://www.linkedin.com/jobs/view/3723056673/...,3723056673
4,Fresh Telecom Intern,https://www.linkedin.com/jobs/view/3727538999/...,3727538999
...,...,...,...
425,Senior Dotnet Developer,https://www.linkedin.com/jobs/view/3727398144/...,3727398144
426,Senior MEAN/MERN Developer,https://www.linkedin.com/jobs/view/3727507538/...,3727507538
427,Senior 3D Artist,https://www.linkedin.com/jobs/view/3727502311/...,3727502311
428,Cardiac Catheterization Laboratory Technologist,https://www.linkedin.com/jobs/view/3727372921/...,3727372921
429,Sr. Storyboard Artist,https://www.linkedin.com/jobs/view/3727544393/...,3727544393

In [95]:
len(df)-len(df_no_duplicates)

77

In [111]:
df_no_duplicates = df['Job ID'].drop_duplicates()
df_no_duplicates

0      3727535445
1      3725544721
2      3697131076
3      3723056673
4      3727538999
          ...
425    3727398144
426    3727507538
427    3727502311
428    3727372921
429    3727544393
Name: Job ID, Length: 352, dtype: int64

In [100]:
len(df_no_duplicates)

352

In [105]:
no_duplicates=list(df_no_duplicates)

In [106]:
df[df['Job ID'].isin(no_duplicates)]

,Job Title,Job Link,Job ID
0,Data Annotator,https://www.linkedin.com/jobs/view/3727535445/...,3727535445
1,PowerBi Data Analyst,https://www.linkedin.com/jobs/view/3725544721/...,3725544721
2,Analyst - EMEA,https://www.linkedin.com/jobs/view/3697131076/...,3697131076
3,Email Copywriter/Strategist,https://www.linkedin.com/jobs/view/3723056673/...,3723056673
4,Fresh Telecom Intern,https://www.linkedin.com/jobs/view/3727538999/...,3727538999
...,...,...,...
425,Senior Dotnet Developer,https://www.linkedin.com/jobs/view/3727398144/...,3727398144
426,Senior MEAN/MERN Developer,https://www.linkedin.com/jobs/view/3727507538/...,3727507538
427,Senior 3D Artist,https://www.linkedin.com/jobs/view/3727502311/...,3727502311
428,Cardiac Catheterization Laboratory Technologist,https://www.linkedin.com/jobs/view/3727372921/...,3727372921
429,Sr. Storyboard Artist,https://www.linkedin.com/jobs/view/3727544393/...,3727544393

In [112]:
df_no_duplicates = df.drop_duplicates(subset=['Job ID'])

In [113]:
df_no_duplicates

,Job Title,Job Link,Job ID
0,Data Annotator,https://www.linkedin.com/jobs/view/3727535445/...,3727535445
1,PowerBi Data Analyst,https://www.linkedin.com/jobs/view/3725544721/...,3725544721
2,Analyst - EMEA,https://www.linkedin.com/jobs/view/3697131076/...,3697131076
3,Email Copywriter/Strategist,https://www.linkedin.com/jobs/view/3723056673/...,3723056673
4,Fresh Telecom Intern,https://www.linkedin.com/jobs/view/3727538999/...,3727538999
...,...,...,...
425,Senior Dotnet Developer,https://www.linkedin.com/jobs/view/3727398144/...,3727398144
426,Senior MEAN/MERN Developer,https://www.linkedin.com/jobs/view/3727507538/...,3727507538
427,Senior 3D Artist,https://www.linkedin.com/jobs/view/3727502311/...,3727502311
428,Cardiac Catheterization Laboratory Technologist,https://www.linkedin.com/jobs/view/3727372921/...,3727372921
429,Sr. Storyboard Artist,https://www.linkedin.com/jobs/view/3727544393/...,3727544393

In [114]:
duplicates = df_no_duplicates.duplicated(subset=['Job ID'])

In [117]:
duplicates.sum()

0