In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
path='Weekly Files Concatenated from Daily Files/Linkedin_Job_Links_26-Sep-2023-to-02-Oct-2023_2116-jobs_92-pages.csv'

In [3]:
df=pd.read_csv(path)

In [4]:
path="Not Duplicated Files_Phase-1/1st Week 26 Sep-02 Oct"
dir_list = os.listdir(path)
dates=[file.split('_')[3] for file in dir_list]
dates.sort(key=lambda date: datetime.strptime(date, "%d-%b-%Y"))
file_names=[]
for date in dates:
    for file in dir_list:
        if file.split('_')[3]==date:
            file_names.append(file)
file_names

['Linkedin_Job_Links_26-Sep-2023_561-jobs_23-pages.csv',
 'Linkedin_Job_Links_27-Sep-2023_352-jobs_18-pages.csv',
 'Linkedin_Job_Links_28-Sep-2023_309-jobs_14-pages.csv',
 'Linkedin_Job_Links_29-Sep-2023_239-jobs_10-pages.csv',
 'Linkedin_Job_Links_30-Sep-2023_170-jobs_7-pages.csv',
 'Linkedin_Job_Links_01-Oct-2023_125-jobs_5-pages.csv',
 'Linkedin_Job_Links_02-Oct-2023_360-jobs_15-pages.csv']

In [5]:
df1=pd.read_csv(path+'/'+file_names[0])
df2=pd.read_csv(path+'/'+file_names[1])
df3=pd.read_csv(path+'/'+file_names[2])
df4=pd.read_csv(path+'/'+file_names[3])
df5=pd.read_csv(path+'/'+file_names[4])
df6=pd.read_csv(path+'/'+file_names[5])
df7=pd.read_csv(path+'/'+file_names[6])

### checking duplication of first file with all

In [19]:
df_concat=pd.concat([df1,df2],ignore_index=True) 
duplicates = df_concat['Job ID'].duplicated()
df_concat[duplicates]

,Job Title,Job Link,Job ID
603,Odoo Developer,https://www.linkedin.com/jobs/view/3727054738/...,3727054738
781,Assistant Manager Sales/Sales Executive,https://www.linkedin.com/jobs/view/3727057147/...,3727057147
834,Back-End Network Engineer,https://www.linkedin.com/jobs/view/3726337380/...,3726337380
840,Release Management Engineer,https://www.linkedin.com/jobs/view/3727054443/...,3727054443
842,Sr. International Sales Executive (Night Shift),https://www.linkedin.com/jobs/view/3727051751/...,3727051751

In [18]:
df_concat=pd.concat([df1,df3],ignore_index=True) 
duplicates = df_concat['Job ID'].duplicated()
df_concat[duplicates]

,Job Title,Job Link,Job ID
564,Senior Software Engineer,https://www.linkedin.com/jobs/view/3691553817/...,3691553817
595,Computer Vision Engineer,https://www.linkedin.com/jobs/view/3574287743/...,3574287743
598,Creative Associate,https://www.linkedin.com/jobs/view/3724314689/...,3724314689
829,Finance Assitant (GF),https://www.linkedin.com/jobs/view/3728173171/...,3728173171
867,PHP Developer Required,https://www.linkedin.com/jobs/view/3723340874/...,3723340874

In [17]:
df_concat2=pd.concat([df1,df4],ignore_index=True) 
duplicates = df_concat2['Job ID'].duplicated()
df_concat2[duplicates]

,Job Title,Job Link,Job ID
563,Sr. SDET Engineer,https://www.linkedin.com/jobs/view/3631034202/...,3631034202
611,Senior Software Engineer,https://www.linkedin.com/jobs/view/3691553817/...,3691553817
625,Business Development Executive (REMOTE) up to ...,https://www.linkedin.com/jobs/view/3728108177/...,3728108177
720,"AI-Augmented Software Developer, Trilogy (Remo...",https://www.linkedin.com/jobs/view/3710741653/...,3710741653
746,"Fixed Term: Chief Health, P5, Islamabad, Pakis...",https://www.linkedin.com/jobs/view/3727028422/...,3727028422
748,"Senior Technical Support Engineer, Skyvera (Re...",https://www.linkedin.com/jobs/view/3715439728/...,3715439728
750,"Senior C++ Engineer, GFI Software (Remote) - $...",https://www.linkedin.com/jobs/view/3715437919/...,3715437919

In [20]:
df_concat2=pd.concat([df1,df5],ignore_index=True) 
duplicates = df_concat2['Job ID'].duplicated()
df_concat2[duplicates]

,Job Title,Job Link,Job ID
561,Sr. SDET Engineer,https://www.linkedin.com/jobs/view/3631035048/...,3631035048
591,Cloud Technical Specialist,https://www.linkedin.com/jobs/view/3707088816/...,3707088816
616,Software Architect Lead Developer,https://www.linkedin.com/jobs/view/3679798856/...,3679798856
636,Senior Software Engineer,https://www.linkedin.com/jobs/view/3691558187/...,3691558187
648,"Fixed Term: Chief Health, P5, Islamabad, Pakis...",https://www.linkedin.com/jobs/view/3727028422/...,3727028422
708,Senior Software Engineer,https://www.linkedin.com/jobs/view/3691553817/...,3691553817

In [21]:
df_concat2=pd.concat([df1,df6],ignore_index=True) 
duplicates = df_concat2['Job ID'].duplicated()
df_concat2[duplicates]

,Job Title,Job Link,Job ID
592,Sr. SDET Engineer,https://www.linkedin.com/jobs/view/3631034202/...,3631034202

In [22]:
df_concat2=pd.concat([df1,df7],ignore_index=True) 
duplicates = df_concat2['Job ID'].duplicated()
df_concat2[duplicates]

,Job Title,Job Link,Job ID
564,Sr. SDET Engineer,https://www.linkedin.com/jobs/view/3631035048/...,3631035048
684,Assistant Manager Project Planning & Design,https://www.linkedin.com/jobs/view/3728159525/...,3728159525
700,Assistant Manager Channel Enablement,https://www.linkedin.com/jobs/view/3728157925/...,3728157925
719,"AI-Augmented Software Developer, Trilogy (Remo...",https://www.linkedin.com/jobs/view/3710741653/...,3710741653
814,"Senior Technical Support Engineer, Skyvera (Re...",https://www.linkedin.com/jobs/view/3715439728/...,3715439728
875,Sr. SDET Engineer,https://www.linkedin.com/jobs/view/3631034202/...,3631034202

### checking duplicates

In [25]:
len(df)

2116

In [26]:
len(df['Job ID'].unique())

1912

In [27]:
len(df)-len(df['Job ID'].unique())

204

In [28]:
df['Job ID'].value_counts()

Job ID
3631034202    4
3691553817    4
3727540146    4
3727374000    3
3728826214    3
             ..
3727540297    1
3727550102    1
3727511731    1
3727544368    1
3731393614    1
Name: count, Length: 1912, dtype: int64

In [11]:
df['Job ID'].value_counts().unique()

array([4, 3, 2, 1], dtype=int64)

In [11]:
duplicates_count=df.duplicated(subset=['Job ID']).sum()
duplicates_count

204

In [12]:
duplicates = df['Job ID'].duplicated()
df[duplicates]

,Job Title,Job Link,Job ID
603,Odoo Developer,https://www.linkedin.com/jobs/view/3727054738/...,3727054738
781,Assistant Manager Sales/Sales Executive,https://www.linkedin.com/jobs/view/3727057147/...,3727057147
834,Back-End Network Engineer,https://www.linkedin.com/jobs/view/3726337380/...,3726337380
840,Release Management Engineer,https://www.linkedin.com/jobs/view/3727054443/...,3727054443
842,Sr. International Sales Executive (Night Shift),https://www.linkedin.com/jobs/view/3727051751/...,3727051751
...,...,...,...
2101,"iOS Developer, gt.school (Remote) - $100,000/y...",https://www.linkedin.com/jobs/view/3727369745/...,3727369745
2102,"Principal Software Architect, gt.school (Remot...",https://www.linkedin.com/jobs/view/3723018240/...,3723018240
2103,"Senior C++ Engineer, Trilogy (Remote) - $200,0...",https://www.linkedin.com/jobs/view/3727372131/...,3727372131
2104,"Senior Mobile Engineer, gt.school (Remote) - $...",https://www.linkedin.com/jobs/view/3723013929/...,3723013929
2105,"Senior Mobile Developer, gt.school (Remote) - ...",https://www.linkedin.com/jobs/view/3723015541/...,3723015541

In [15]:
561+352

913

In [27]:
913+309

1222

In [26]:
1222+239+170+125

1756

In [27]:
1222+239+170+125+360

2116

In [34]:
df.index

RangeIndex(start=0, stop=2116, step=1)

In [15]:
df[duplicates].index

Index([ 603,  781,  834,  840,  842,  916,  947,  950, 1181, 1219,
       ...
       2086, 2087, 2088, 2089, 2090, 2101, 2102, 2103, 2104, 2105],
      dtype='int64', length=204)

we have to +1 index for last index

In [ ]:
df.iloc[550:561]

In [51]:
df.iloc[:561][duplicates[:561]].index

Index([], dtype='int64')

In [43]:
df.iloc[561:912][duplicates[561:912]].index

Index([603, 781, 834, 840, 842], dtype='int64')

In [30]:
len(df.iloc[561:913][duplicates[561:913]].index)

5

In [44]:
df.iloc[913:1221][duplicates[913:1221]].index

Index([916, 947, 950, 1181, 1219], dtype='int64')

In [31]:
len(df.iloc[913:1222][duplicates[913:1222]].index)

5

In [45]:
df.iloc[1222:1460][duplicates[1222:1460]].index

Index([1224, 1237, 1241, 1270, 1272, 1282, 1286, 1297, 1305, 1306, 1322, 1381,
       1384, 1390, 1397, 1398, 1400, 1404, 1405, 1407, 1408, 1409, 1411, 1414,
       1415, 1416, 1418, 1419, 1422, 1423, 1425, 1427, 1428, 1429, 1447, 1451],
      dtype='int64')

In [32]:
len(df.iloc[1222:1461][duplicates[1222:1461]].index)

36

In [46]:
df.iloc[1461:1630][duplicates[1461:1630]].index

Index([1461, 1462, 1463, 1467, 1469, 1470, 1471, 1474, 1475, 1476, 1479, 1480,
       1482, 1484, 1485, 1487, 1488, 1489, 1491, 1493, 1494, 1495, 1497, 1499,
       1500, 1501, 1503, 1505, 1506, 1511, 1512, 1513, 1516, 1536, 1537, 1539,
       1541, 1544, 1548, 1549, 1555, 1556, 1562, 1564, 1567, 1568, 1576, 1578,
       1586, 1588, 1590, 1591, 1592, 1593, 1608, 1611, 1612, 1613, 1619, 1622],
      dtype='int64')

In [33]:
len(df.iloc[1461:1631][duplicates[1461:1631]].index)

60

In [47]:
df.iloc[1631:1755][duplicates[1631:1755]].index

Index([1634, 1647, 1651, 1653, 1657, 1662, 1671, 1682, 1684, 1724, 1728, 1739,
       1746, 1752],
      dtype='int64')

In [34]:
len(df.iloc[1631:1756][duplicates[1631:1756]].index)

14

In [59]:
df.iloc[1756:2116][duplicates[1756:2116]].index

Index([1759, 1764, 1771, 1775, 1786, 1806, 1831, 1833, 1834, 1836, 1837, 1838,
       1849, 1856, 1858, 1859, 1861, 1862, 1863, 1865, 1868, 1879, 1881, 1882,
       1883, 1884, 1895, 1904, 1906, 1907, 1908, 1909, 1911, 1914, 1931, 1932,
       1958, 1959, 1973, 1981, 1982, 1983, 1984, 1986, 2007, 2008, 2009, 2010,
       2011, 2013, 2019, 2020, 2021, 2022, 2031, 2032, 2033, 2034, 2036, 2038,
       2039, 2040, 2056, 2057, 2058, 2059, 2061, 2062, 2067, 2069, 2070, 2081,
       2082, 2083, 2086, 2087, 2088, 2089, 2090, 2101, 2102, 2103, 2104, 2105],
      dtype='int64')

In [35]:
len(df.iloc[1756:2116][duplicates[1756:2116]].index)

84

In [36]:
5+5+36+60+14+84

204

In [13]:
start_index=0
# start_indexes=[]
for file in file_names:
    df2=pd.read_csv(path+'/'+file)
    nrows=len(df2)
    end_index=start_index+ len(df2)
    print(f'start_index:{start_index}')
    print(f'end_index:{end_index}')
    start_index=end_index
    # start_indexes.append(start_index)

start_index:0
end_index:561
start_index:561
end_index:913
start_index:913
end_index:1222
start_index:1222
end_index:1461
start_index:1461
end_index:1631
start_index:1631
end_index:1756
start_index:1756
end_index:2116

In [26]:
start_index=0
for file in file_names:
    df2=pd.read_csv(path+'/'+file)
    nrows=len(df2)
    end_index=start_index+ len(df2)
    df3=df.drop(df.index[df.iloc[start_index:end_index][duplicates[start_index:end_index]].index])
    df3=df3.iloc[start_index:end_index]
    df3.to_csv(file,index=False)
    start_index=end_index

In [29]:
df4=pd.read_csv('Linkedin_Job_Links_28-Sep-2023_309-jobs_14-pages.csv')

In [30]:
df4

,Job Title,Job Link,Job ID
0,Snr. Mgr. Metro & Transmission,https://www.linkedin.com/jobs/view/3726270160/...,3726270160
1,Senior UI/UX Designer,https://www.linkedin.com/jobs/view/3728235345/...,3728235345
2,Manager Product Innovation,https://www.linkedin.com/jobs/view/3711977720/...,3711977720
3,LinkedIn Data Extractor,https://www.linkedin.com/jobs/view/3728211581/...,3728211581
4,Senior Computer Vision Engineer,https://www.linkedin.com/jobs/view/3677060094/...,3677060094
...,...,...,...
304,Manager Project Acquisition,https://www.linkedin.com/jobs/view/3728836470/...,3728836470
305,Sales Agent,https://www.linkedin.com/jobs/view/3716056255/...,3716056255
306,Sr. SDET Engineer,https://www.linkedin.com/jobs/view/3631034202/...,3631034202
307,Software Engineer,https://www.linkedin.com/jobs/view/3722461744/...,3722461744
308,Machine Learning Engineer,https://www.linkedin.com/jobs/view/3728825617/...,3728825617

In [19]:
df4[561:913]

,Job Title,Job Link,Job ID
561,Data Annotator,https://www.linkedin.com/jobs/view/3727535445/...,3727535445
562,PowerBi Data Analyst,https://www.linkedin.com/jobs/view/3725544721/...,3725544721
563,Analyst - EMEA,https://www.linkedin.com/jobs/view/3697131076/...,3697131076
564,Email Copywriter/Strategist,https://www.linkedin.com/jobs/view/3723056673/...,3723056673
565,Fresh Telecom Intern,https://www.linkedin.com/jobs/view/3727538999/...,3727538999
...,...,...,...
908,Snr. Mgr. Metro & Transmission,https://www.linkedin.com/jobs/view/3726270160/...,3726270160
909,Senior UI/UX Designer,https://www.linkedin.com/jobs/view/3728235345/...,3728235345
910,Manager Product Innovation,https://www.linkedin.com/jobs/view/3711977720/...,3711977720
911,Senior Software Engineer,https://www.linkedin.com/jobs/view/3691553817/...,3691553817
912,LinkedIn Data Extractor,https://www.linkedin.com/jobs/view/3728211581/...,3728211581

In [60]:
df.iloc[913:1222][duplicates[913:1222]].index-913

Index([3, 34, 37, 268, 306], dtype='int64')

In [25]:
df.iloc[913:1222].iloc[34]

Job Title                             Computer Vision Engineer
Job Link     https://www.linkedin.com/jobs/view/3574287743/...
Job ID                                              3574287743
Name: 947, dtype: object

In [65]:
df.iloc[561:913][duplicates[561:913]].index

Index([603, 781, 834, 840, 842], dtype='int64')

In [54]:
df.iloc[561:913][duplicates[561:913]].index-561

Index([42, 220, 273, 279, 281], dtype='int64')

In [62]:
df.drop(df.index[df.iloc[561:913][duplicates[561:913]].index])

,Job Title,Job Link,Job ID
0,LinkedIn Data Extractor,https://www.linkedin.com/jobs/view/3727054368/...,3727054368
1,It Management Intern,https://www.linkedin.com/jobs/view/3723395858/...,3723395858
2,SQL Database Developer,https://www.linkedin.com/jobs/view/3727034665/...,3727034665
3,Business Intelligence Developer,https://www.linkedin.com/jobs/view/3727029273/...,3727029273
4,Web Developer - Internship,https://www.linkedin.com/jobs/view/3727034696/...,3727034696
...,...,...,...
2111,Full-Stack Developer (Node/ Nest/ Typescript/ ...,https://www.linkedin.com/jobs/view/3731370342/...,3731370342
2112,Senior Software Engineer (.Net),https://www.linkedin.com/jobs/view/3730675546/...,3730675546
2113,Senior Video Editor,https://www.linkedin.com/jobs/view/3730341895/...,3730341895
2114,Senior Full-stack Java / Angular Developer - +...,https://www.linkedin.com/jobs/view/3726999342/...,3726999342
2115,Senior .Net MAUI /Xamarin developer,https://www.linkedin.com/jobs/view/3731393614/...,3731393614

In [20]:
df2 = df.drop(df.index[df.iloc[561:913][duplicates[561:913]].index])

In [21]:
df.drop(df.index[df.iloc[:561][duplicates[:561]].index])

,Job Title,Job Link,Job ID
0,LinkedIn Data Extractor,https://www.linkedin.com/jobs/view/3727054368/...,3727054368
1,It Management Intern,https://www.linkedin.com/jobs/view/3723395858/...,3723395858
2,SQL Database Developer,https://www.linkedin.com/jobs/view/3727034665/...,3727034665
3,Business Intelligence Developer,https://www.linkedin.com/jobs/view/3727029273/...,3727029273
4,Web Developer - Internship,https://www.linkedin.com/jobs/view/3727034696/...,3727034696
...,...,...,...
2111,Full-Stack Developer (Node/ Nest/ Typescript/ ...,https://www.linkedin.com/jobs/view/3731370342/...,3731370342
2112,Senior Software Engineer (.Net),https://www.linkedin.com/jobs/view/3730675546/...,3730675546
2113,Senior Video Editor,https://www.linkedin.com/jobs/view/3730341895/...,3730341895
2114,Senior Full-stack Java / Angular Developer - +...,https://www.linkedin.com/jobs/view/3726999342/...,3726999342
2115,Senior .Net MAUI /Xamarin developer,https://www.linkedin.com/jobs/view/3731393614/...,3731393614

In [24]:
df2.iloc[561:913]

,Job Title,Job Link,Job ID
561,Data Annotator,https://www.linkedin.com/jobs/view/3727535445/...,3727535445
562,PowerBi Data Analyst,https://www.linkedin.com/jobs/view/3725544721/...,3725544721
563,Analyst - EMEA,https://www.linkedin.com/jobs/view/3697131076/...,3697131076
564,Email Copywriter/Strategist,https://www.linkedin.com/jobs/view/3723056673/...,3723056673
565,Fresh Telecom Intern,https://www.linkedin.com/jobs/view/3727538999/...,3727538999
...,...,...,...
913,Snr. Mgr. Metro & Transmission,https://www.linkedin.com/jobs/view/3726270160/...,3726270160
914,Senior UI/UX Designer,https://www.linkedin.com/jobs/view/3728235345/...,3728235345
915,Manager Product Innovation,https://www.linkedin.com/jobs/view/3711977720/...,3711977720
916,Senior Software Engineer,https://www.linkedin.com/jobs/view/3691553817/...,3691553817
917,LinkedIn Data Extractor,https://www.linkedin.com/jobs/view/3728211581/...,3728211581

In [73]:
len(df2)

2111

### droping duplicates

In [61]:
df_no_duplicates = df.drop_duplicates(subset=['Job ID'])

In [62]:
df_no_duplicates

,Job Title,Job ID,Job Link
0,Sr. SDET Engineer,3631035048,https://www.linkedin.com/jobs/view/3631035048/...
1,Senior Data Engineer,3728806847,https://www.linkedin.com/jobs/view/3728806847/...
2,Lead Data Engineer,3712059465,https://www.linkedin.com/jobs/view/3712059465/...
3,"Lead Software Engineer, gt.school (Remote) - $...",3723011973,https://www.linkedin.com/jobs/view/3723011973/...
4,Management Trainee Program,3729936457,https://www.linkedin.com/jobs/view/3729936457/...
...,...,...,...
165,Head of Primary School,3728836506,https://www.linkedin.com/jobs/view/3728836506/...
166,Senior Graphic Designer,3730420882,https://www.linkedin.com/jobs/view/3730420882/...
167,2D Animator,3728854365,https://www.linkedin.com/jobs/view/3728854365/...
168,Freelance Translator - German into Dutch (Belg...,3720367170,https://www.linkedin.com/jobs/view/3720367170/...
169,Senior Wordpress Developer,3723050636,https://www.linkedin.com/jobs/view/3723050636/...

In [45]:
len(df_no_duplicates)

239

In [46]:
len(df)-duplicates_count

239

### Building modified path

In [47]:
pre_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[0]
pre_link

'Linkedin_Job_Links_29-Sep-2023_'

In [48]:
post_link=path.split('/')[-1].split(path.split('/')[-1].split('_')[4].strip('-jobs'))[1]
post_link

'-jobs_10-pages.csv'

In [49]:
Not_duplicated_folder_path='Not Duplicated Files/1st Week 26 Sep-02 Oct/'+pre_link+str(len(df_no_duplicates))+post_link
Not_duplicated_folder_path

'Not Duplicated Files/1st Week 26 Sep-02 Oct/Linkedin_Job_Links_29-Sep-2023_239-jobs_10-pages.csv'

In [50]:
Duplicated_folder_path='Dupllicated Files/'+path.split('/')[-1]
Duplicated_folder_path

'Dupllicated Files/Linkedin_Job_Links_29-Sep-2023_239-jobs_10-pages.csv'

### saving file

In [7]:
if df.duplicated(subset=['Job ID']).sum()>0:
    df_no_duplicates.to_csv(Not_duplicated_folder_path,index=False)
    df.to_csv(Duplicated_folder_path,index=False)
else:
    df.to_csv('Not Duplicated Files/1st Week 26 Sep-02 Oct/'+path.split('/')[-1],index=False)